.container {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    justify-content: space-around;
    background-color: rgba(137, 253, 253, 0.342);
}

.tttcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.tttrow {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.btn, .btn-red, .btn-blue {
    height: 100px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    background-color: rgb(74, 90, 97);
    color: #fff;
}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: blue;
}

.btn-play {
    background-color: blueviolet;
    height: 60px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #fff;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}

button:disabled {
    box-shadow: none;
}

body {
    background-color: blanchedalmond;
}

table {
    padding: 20px;
    width: 50%;
    margin: auto;
}

th, td{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}